<!-- // INSERIDO POR LAURA -->
<mat-nav-list>
  <a routerLink="/" class="logo py-4">
    <img src="../../../../assets/img/logo1.png" alt="Logo Calmamente - cérebro fofinho em pose de meditação" />
  </a>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">PAINEL</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      <mat-icon>home</mat-icon> Home
    </a>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/clinica"> 
      <img src="../../../../assets/img/clinica_icon.png" alt="User Icon" class="list-item-icon">
      Cadastrar Clínica
    </a>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/artigo"> 
      <img src="../../../../assets/img/artigo_icon.png" alt="User Icon" class="list-item-icon">
      Cadastrar Artigo
    </a>
  </mat-nav-list>
  
