<!-- // INSERIDO POR LAURA -->
<app-header
    [color]="headerColors.home"
    titulo="Evento"
    [h1HeaderColor]="h1HeaderColors.home"
    [textColor]="textColors.home"
    [textColor]="textColors.home"
    [textColor]="textColors.home"
    [btnColor]="btnColors.home"
/>
<main class="flex_center">
    <app-card-img [color]="ImgBorderColors.login" img="assets/img/obras.jpeg"/>        
    <div class="flex_center flex_column gap-32">

    </div>
</main>

<app-footer [color]="footerColors.home" />



