/* <!-- // INSERIDO POR LAURA --> */

input {
    padding: 10px;
    font-size: 28px;
    border: none;
    box-shadow: var(--drop-shadow);
}

#userType {
    padding: 10px;
    font-size: 28px;
    border: none;
    box-shadow: var(--drop-shadow);
    width: 24px;
    height: 24px;
}

#lapis {
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.logout {
    color: white;
    background-color: var(--dark-red);
}